{% extends "layout.html" %}



{% block title %}
    Export
{% endblock %}

{% block main %}
    <div class="center margin-medium">
        <h2>You have selected the following event date(s) and time for <br><fancy>{{ name }}</fancy>:</h2>
    </div>
    <div class="center margin-medium">
        {% if event_date %}
            <h3>{{ event_date }} from {{ start_time }} to {{ end_time }}</h3>
        {% else %}
            <h3>{{ start_date }} to {{ end_date }}</h3>
        {% endif %}
    </div>
    <form action="/export" method="POST">
        <input hidden name="id" value="{{ ID }}">
        <input hidden name="start" value="{{ start }}">
        <input hidden name="end" value="{{ end }}">
        <input type="submit" value="Export This Event to Google Calendar">
    </form>
    <div class="list">
        <ul>
            <h3 style="color: DarkGreen">Available Members:</h3>
            {% for person in available %}
            <li><h4>{{ person }}</h4></li>
            {% endfor %}
        </ul>
    </div>
    <div class="list">
        <ul>
            <h3 style="color: DarkRed">Unavailable Members:</h3>
            {% for person in unavailable %}
            <li><h4>{{ person }}</h4></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}