{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div>
        <h1>Welcome to Venn, {{ name }}!</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td colspan="2">Link</td>
                </tr>
            </thead>
            {% for event in events %}
            <tr>
                <td><a href="{{ event["view"] }}">{{ event["name"] }}</a></td>
                <td>{{ event["start_date"] }}</td>
                <td>{{ event["end_date"] }}</td>
                <td colspan="2">{{ event["link"] }}</td>
            {% endfor %}
        </table>
    </div>
{% endblock %}