<html lang="en">
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link href="/static/VennSquare.png" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="544895891085-c0ee6mvu0fgpl9ki745i06crhlc67o2o.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

        document.querySelector("#name").value = profile.getName();
        document.querySelector("#email").value = profile.getEmail();

        document.querySelector("form").submit();
        }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark color">
        <a class="navbar-brand" href="/"><span class="red" style="font-family: Apple Chancery">Venn</span></a>
    </nav>
    <h1 class="center margins">Welcome To Venn</h1>
    <div class="center margins">
        <img src="/static/VennLogo.png" alt="Venn Logo" style="width:25%">
    </div>
    <h3 class="center margins">Please sign in with Google</h3>
    <div style="display:flex;justify-content:center;align-items:center;" class="margins">
        <div class="g-signin2" data-width="300" data-height="75" data-longtitle="true" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
    <form hidden action="/login" method="POST">
        <input id="name" type="text" name="name" value=""><br>
        <input id="email" type="text" name="email" value=""><br>
    </form>
  </body>
</html>