{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
    <div class="center">
        <h1>{{ event["name"] }}</h1>
    </div>
    <div class="center">
        <form action="/view" method="post">
            <label>Add Your Google Calendar</label><br>
            <input type="number" hidden name="id" value="{{ event["id"] }}">
            <input type="submit">
        </form>
    </div>
    {% if host %}
    <div class="center">
        <form action="/delete" method="GET">
            <label>Delete the Event</label><br>
            <input type="number" hidden name="id" value="{{ event["id"] }}">
            <input type="submit">
        </form>
    </div>
    {% endif %}
    <div>
        <table>
            <thead>
                <tr>
                    <td>Event Time</td>
                    <td>Number of Conflicts</td>
                    <td colspan="2">People Missing</td>
                </tr>
            </thead>
            {% for key in keys %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ people[key] | len }}</td>
                <td colspan="2">
                    {{ people[key] | list_to_string }}
                </td>
            {% endfor %}
        </table>
    </div>

{% endblock %}